<% title "Debt >> Period #{@period.id}" %>

<% content_for :breadcrumbs do %>
	<%= link_to "Periods", periods_path, :title => "List of Periods" %> >
	<%= link_to "Period # #{@period.id}", period_path(@period), :title => "List of Periods" %> >
	Debt
<% end %>

<% content_for :titleSummary do %>
	<%= @period.start.to_s(:date_medium) %> - <%= @period.finish.to_s(:date_medium) %>
<% end %>




<div id="assetShowNav">
	<a href="/periods/<%= @period.id - 1 %>/debt" class="previous">&#171; Period <%= @period.id - 1 %></a>
	<a href="/periods/<%= @period.id + 1 %>/debt" class="next">Period <%= @period.id + 1 %> &#187;</a>
	<div class="clear"></div>
</div>


	<div class="dataHighlight">
		<table cellpadding="0" cellspacing="0" width="100%" class="goalSummary">
	         <tr>
	            <td nowrap><div id="peopleClicked" class="red-highlight"><%=quid(@period_balance) %></div></td>
                <td width="50%" class="goalDescription"><h2>total debt</h2>Giving you a <strong>0&#37;</strong> click rate.</td>
                <td nowrap><div class="secondary" id="totalClicks"><%= quid(@debt.transactions.category(@period, 1).sum(:amount)) %></div></td>
                <td width="50%" class="goalDescription"><h2>Min Payment</h2>Total</td>
	         </tr>
	         <tr class="lastGoal">
	            <td nowrap><div class="secondary" id="clicksPerPerson"><%= quid(@debt.transactions.category(@period, 1).unposted.sum(:amount)) %></div></td>
                <td width="50%" class="goalDescription"><h2>Min Pay - To Pay</h2>Average of all those who clicked.</td>
                <td nowrap><div class="secondary" id="didntClick"><%= quid(@debt.transactions.positive.sum(:amount) + @debt.transactions.negative.posted.sum(:amount) ) %></div></td>
                <td width="50%" class="goalDescription"><h2>Total Paid Off</h2>That's 100&#37; of all those who opened.</td>
			</tr>
	   </table>
	</div>
	



			
	<table cellspacing="0" class="tableHeader" cellpadding="0" cellspacing="0">
		
			<tr>  	  	
				<td><strong>Total Payments</strong></td>
				<td><%= quid(@debt.transactions.positive.sum(:amount)) %></td>	  	
				<td><strong>Total Interest</strong></td>
				<td><%= quid(@debt.transactions.category(@period, 2).sum(:amount)) %></td> 	  	
				<td><strong>Total New Charges</strong></td>
				<td><%= quid(@debt.transactions.negative.posted.sum(:amount)) %></td>	  	
				<td><strong>Previous Period Dif</strong></td>
				<td><%= quid(@pre_bal_diff) %></td>
			</tr>
	</table>
			
		
	<% for account in @accounts %>
	
	<% if account_balance(account.id, @period) != 0  %>
	
		<h3><%= account.name %> Account 
			<a href="#" onclick="Effect.toggle('form-<%= account.id %>', 'blind'); return false;">
				<img src="/images/site/icons/add.png">
			</a> 
		</h3>
						
			<div  id="form-<%= account.id %>" style="display:none;">	
					
			<% form_for @transaction do |f| %>
		
				<label  class="desc">
					Transaction Type
				</label>
				<%= collection_select("transaction", "category_id", @categories, :id, :name ) %>
				<label  class="desc">
					Amount
				</label>
				<%= f.text_field :amount, :maxlength => 6 %>
				<label  class="desc">
					Transaction Date
				</label>
				<%= f.date_select :transaction_date %>
				
				<%= f.hidden_field :period_id, :value => @period.id %>
				<%= f.hidden_field :debt_id, :value => @debt.id %>
				<%= f.hidden_field :account_id, :value => account.id %>

				<button class="ui-state-default float-right ui-corner-all ui-button" type="submit"> Submit</button>

			<% end %>
			</div>
			
			<br />
			
		<table cellpadding="0" cellspacing="0" width="100%" class="tableHeader">
			<tr class="noHighlight">
				<th class="headerLeft">#</th>
				<th>Type</th>
				<th>Transaction / Due Date</th>
				<th>Posted Date</th>
				<th>Amount</th>
				<th class="headerRight" style="text-align:right;">
					<% if account.direct_debit == true %>
					<img src="/images/icons/direct-debit.png" title="Direct Debit" width="20" />
					<% end %>
				</th>
				
			</tr>
			<% for transaction in account.transactions.period(@period) %>
			<tr <% if transaction.payment_date == nil %> class="red-highlight" <% end %> >
				<td><%= transaction.id %></td>
		  		<td><%= transaction.category.name %></td>
				<td><%= transaction.transaction_date.to_s(:date_medium) %></td>
				<td><%= transaction.payment_date.to_s(:date_medium) unless transaction.payment_date == nil  %></td>
				<td><%= quid(transaction.amount) %></td>
				<td><% if transaction.payment_date != nil %>
					<%= link_to "Unpost", :controller => "transactions", :action => "unpost", :id => transaction %>
					<% else %>
					<%= link_to "Post", :controller => "transactions", :action => "post", :id => transaction %>
					<% end %>
				</td>
			</tr>
			<% end %>
			<tr>
				<td colspan="5"><strong>Cleared Balance</strong></td>
				<td><%= quid(account_balance(account.id, @period)) %></td>
			</tr>
			<tr>
		</table>
	
		<br />
		
		<% end %>
		
	<% end %>



