<% title "Budget >> Period #{@period.id}"%>

<% content_for :breadcrumbs do %>
	<%= link_to "Periods", periods_path, :title => "List of Periods" %> >
	<%= link_to "Period # #{@period.id}", period_path(@period), :title => "List of Periods" %> >
	Budget	
<% end %>

<% content_for :titleSummary do %>
	<%= @period.start.to_s(:date_medium) %> - <%= @period.finish.to_s(:date_medium) %>
<% end %>

	<div id="assetShowNav">
		<a href="/periods/<%= @period.id - 1 %>/debt" class="previous">&#171; Period <%= @period.id - 1 %></a>
		<a href="/periods/<%= @period.id + 1 %>/debt" class="next">Period <%= @period.id + 1 %> &#187;</a>
		<div class="clear"></div>
	</div>

	<div class="dataHighlight">
		<table cellpadding="0" cellspacing="0" width="100%" class="goalSummary">
	         <tr>
	            <td nowrap><div id="peopleClicked" class="red-highlight"><%= quid(@budget_total) %></div></td>
	            <td width="50%" class="goalDescription"><h2>outgoings</h2>Total of all budgets</td>
	            <td nowrap><div class="secondary" id="totalClicks"><%= quid(@period.budget.wages) %></div></td>
	            <td width="50%" class="goalDescription"><h2>Wages</h2>Total income this period</td>
	         </tr>
	         <tr class="lastGoal">
	            <td nowrap><div class="secondary" id="clicksPerPerson"><%= quid(@budget_surplus) %></div></td>
	            <td width="50%" class="goalDescription"><h2>Surplus</h2>Wages left after budget deductions</td>
	            <td nowrap></td>
	            <td width="50%" class="goalDescription"></td>
			</tr>
	   </table>
	</div>

<div class="clear"></div>

	
<% for account in @accounts %>
	
	<h3><%= account.name %> Account 
		<a href="#" onclick="Effect.toggle('form-<%= account.id %>', 'blind'); return false;">
			<img src="/images/site/icons/add.png">
		</a> 
	</h3>
					
		<div  id="form-<%= account.id %>" style="display:none;">	
				
		<% form_for @transaction do |f| %>
			<label  class="desc">
				Name
			</label>
			<%= f.text_field :name, :maxlength => 20 %>
			<label  class="desc">
				Amount
			</label>
			<%= f.text_field :amount, :maxlength => 6 %>
			<label  class="desc">
				Transaction Date
			</label>
			<%= f.date_select :transaction_date %>
			
			<%= f.hidden_field :period_id, :value => @period.id %>
			<%= f.hidden_field :budget_id, :value => @period.budget.id %>
			<%= f.hidden_field :account_id, :value => account.id %>

			<button class="ui-state-default float-right ui-corner-all ui-button" type="submit"> Submit</button>

		<% end %>
		</div>

	<table cellpadding="0" cellspacing="0" width="100%" class="tableHeader">
		
		<tr class="noHighlight">
			<th class="headerLeft">#</th>
			<th>Bill</th>
			<th>Transaction / Due Date</th>
			<th class="headerRight" style="text-align:right;">Amount</th>
		</tr>
		
		<% for transaction in account.transactions.budget_scope(@period.budget.id) %>
		<tr <% if transaction.payment_date == nil %> class="red-highlight" <% end %> >
	  		<td><%= transaction.name %></td>
			<td><%= transaction.transaction_date.to_s(:date_medium) %></td>
			<td><%= quid(transaction.amount) %></td>
			<td><% if transaction.payment_date != nil %>
				<%= link_to "Unpost", :controller => "transactions", :action => "unpost", :id => transaction %>
				<% else %>
				<%= link_to "Post", :controller => "transactions", :action => "post", :id => transaction %>
				<% end %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td colspan="3"><strong>Total</strong></td>
			<td><%= quid(budget_account_total(account.id, @period)) %></td>
		</tr>
		<tr>
			<td colspan="3"><strong>To pay</strong></td>
			<td><%= quid(budget_to_pay_total(account.id, @period)) %></td>
		</tr>
		<tr>

	</table>

<% end %>



