<% title "Period #{@period.id}" %>

<% content_for :breadcrumbs do %>
	<%= link_to "Periods", periods_path, :title => "List of Periods" %> >
	Period # <%= @period.id %>
<% end %>

<% content_for :titleSummary do %>
	<%= @period.start.to_s(:date_medium) %> - <%= @period.finish.to_s(:date_medium) %>
<% end %>


<%= link_to "Debt", period_debt_path(@period), :class => "Debt tooltip", :title => "Debt" %>
			
<%= link_to "Budget", period_budget_path(@period), :class => "Clipboard_3 tooltip", :title => "Budget" %>


			
	<div class="clearfix"></div>
	

							<h4>Create Period <%= @period.id+1 %></h4>
								<%= render :partial => "form" %>
					