<% title 'Barcodes Export' %>

<% content_for :sidebar do %>
		<div id="options">

			<div class="bghighlight">
				<h3 class="sidebar">Barcode Template</h3>
			</div><!-- bghighlight -->
			
			<p>To batch process images for this location, place all images in public/system/assets and run the following rake task:</p>
			
			<div class="code">
				<pre>rake process_images[<%= @location.id %>]</pre>
			</div>
			
		</div><!-- options -->
<% end %>

<% content_for :breadcrumbs do %>
	<%= link_to 'Locations', locations_path %> &gt; 
	<% for page in @location.ancestors.reverse %>  
   		<%= link_to h(page.name), page %> &gt;  
 	<% end %> 
 		<%= link_to @location.name, location_path(@location) %> &gt;
	Barcodes Export
<% end %>

<div class="code">
<% for asset in @assets %>
	<%= asset.barcodes.first.sku %>,
	<%= asset.location.id %>,
	<%= asset.position %><br />
<% end %>

</div>