<% form_for (@asset, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, Location.all(:order => "name"), :id, :name, :include_blank => true %> 
  </p>
 

	<p><%= add_scan(f) %></p>
		
  <p><%= f.submit "Submit" %></p>
<% end %>
