<% title "Asset: #{@asset.name}" %>

<% content_for :breadcrumbs do %>
	<%= link_to 'Locations', locations_path %> &gt; 
	<% for page in @asset.location.ancestors.reverse %>  
   		<%= link_to h(page.name), page %> &gt;  
 	<% end %> 
 		<%= link_to @asset.location.name, location_path(@asset.location) %> &gt;
	<%= @asset.name %>
<% end %>

<% content_for :titleSummary do %>
	Some text will go here
<% end %>

<% content_for :campaignActions do %>
	<!--
		TODO Link needs fixing
	-->
	<a href="#" id="viewCampaign">
		<img src="/images/site/buttons/export-original.png" width="120" height="21" alt="View Campaign" class="reportButton">
	</a>
<% end %>

<% content_for :sidebar do %>
		<div id="options">
			<!--
				TODO Link needs fixing
			-->
			<div class="sidebarbutton"><a href="#">
				<img src="/images/site/buttons/back-to-location.png" width="207" height="41" alt="Create a new campaign"></a>
			</div><!-- sidebarbutton -->

			<div class="bghighlight">
				<h3 class="sidebar">You might also want to...</h3>
			</div><!-- bghighlight -->

			<dl class="icon-menu">
	    		<dt><a href="dstesting.aspx"><img src="/images/site/icons/package_add.png" width="16" height="16" alt="Run a design and spam test" /></a></dt>
				<dd><a href="dstesting.aspx">Create a Location</a></dd>
				<dd class="last">Add a new location to the database.</dd>
				<dt><a href="editResend.aspx"><img src="/images/site/icons/picture_add.png" width="16" height="16" alt="Resend a sent campaign" /></a></dt>
				<dd><a href="editResend.aspx">Upload an asset</a></dd>
				<dd class="lastBig">Add an asset to an existing location.</dd>
			</dl>

		</div><!-- options -->
<% end %>



<div id="assetShowNav">
	<%= asset_nav_previous(@asset) %>
	<%= asset_nav_next(@asset) %>
	<div class="clear"></div>
</div>

<div id="assetOverview">

	<div class="assetColOne">
		<%= image_tag @asset.scans.first.data.url(:medium) %>
	</div><!-- colOne -->

	<div class="assetColTwo">
		
		<div class="formBG">
			<div class="formWrapper">

				<h3 class="snapshot">Asset Details</h3>

					<div class="formContainer">

						<table cellpadding="2" cellspacing="0" width="100%" class="grid">
							<tr>
							    <th style="width:140px">SKU</th>
							    <td><%= @asset.barcodes.first.sku %></td>
							</tr>
							<tr>
							    <th style="width:140px">Location SKU</th>
							    <td><a href="#"><%= link_to @asset.location.name, location_path(@asset.location) %></a></td>
							</tr>
							<tr>
							    <th>Asset ID</th>
							    <td><%= @asset.id %></td>

							</tr>
							<tr>
							    <th>Date imported</th>
							    <td><%= @asset.created_at.to_s(:date_medium) %></td>
							</tr>
							<tr>
							    <th>Format</th>

							    <td>Photo</td>
							</tr>
							<tr>
							    <th class="last">Description</th>
							    <td class="last">
							    	<!--
										TODO The outputted text needs to be formated with 'simple_format to preserve line breaks
									-->
									<%= in_place_editor_field :asset, 'description', {}, {:rows=>8}  %>
							    </td>
							</tr>
							<tr>
							    <th class="last">Rating</th>
							    <td class="last"><%= ratings_for @asset, :dimension => :quality %></td>
							</tr>
						</table>
					</div><!-- formContainer -->
			
			
				<h3 class="snapshot">Tags</h3>
			
					<div class="formContainer">

						<table cellpadding="2" cellspacing="0" width="100%" class="grid">
							<tr>
								<td colspan="2">
									<% form_remote_for @asset, :html => {:id => "tag_form"} do |f| -%>
										<%= text_field_with_auto_complete :tag, :name %>
										<%= submit_tag "Add tag", :id => "submit" %>
									<% end -%>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="tags">
										<%= render :partial => "tags/tag", :collection => @asset.tag_list %>
									</div>
								</td>
							</tr>
						</table>

					</div><!-- formContainer -->
			
			</div><!-- formWrapper -->
		</div><!-- formBG -->

	</div><!-- assetColTwo -->
</div><!-- assetOverview -->
		