<% form_for @location do |f| %>
  <%= f.error_messages %>

<h3 class="top">Location Name</h3>
<p class="medium">This name will be used throughout the site describe the location. Keep it short and concise, for example "Living Room Shelf" or "2009 Glastonbury Photos"</p>							

<div class="formContainer">

	<div class="clearfix">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

</div>

<h3 class="top">Category</h3>
		<p class="medium">What type of location is this? Define the location as a "set" if this location is to represent a series of photos for example.</p>
<div class="formContainer">
	
	<div class="clearfix">
		<label>Location Category</label>
		<select id="location_category" name="location[category]">
		   	<option value="1">Address</option>
		   	<option value="2">Room</option>
			<option value="3">Box</option>
			<option value="4">Set</option>
		</select>
	</div>
</div>

<h3 class="top">Parent Location</h3>
		<p class="medium">Choose which existing location is parent to the new location which you are creating. Leave this blank to create a top level location such as an address.</p>
<div class="formContainer">
	
	<div class="clearfix">
		<label>Parent Location</label>
		<%= f.collection_select :parent_id, Location.all(:order => "name"), :id, :name, :include_blank => true %>
	</div>
</div>

<h3 class="top">Short Description</h3>
		<p class="medium">A short description of this location.</p>
<div class="formContainer">
	
	<div class="clearfix">
		<label>Description</label>
		<%= f.text_field :short_description %>
	</div>
</div>

<h3 class="top">Long Description</h3>
		<p class="medium">A long description of this location, along with any information specific to this location.</p>
<div class="formContainer">
	
	<div class="clearfix">
		<label>Description</label>
		<%= f.text_area :description, :cols => 90, :rows => 10 %>
	</div>
</div>	

<%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>

<% end %>
	

