<% title "Location: #{@location.name}" %>

<% content_for :breadcrumbs do %>
	<%= link_to 'Locations', locations_path %> &gt; 
	<% for page in @location.ancestors.reverse %>  
   	<%= link_to h(page.name), page %> &gt;  
 	<% end %> 
 	<%= @location.name %> 
<% end %>



<% content_for :titleSummary do %>
	<%= @location.short_description %>
<% end %>

<% content_for :sidebar do %>
		<div id="options">

			<div class="bghighlight">
				<h3 class="sidebar">Process Images</h3>
			</div><!-- bghighlight -->
			
			<p>To batch process images for this location, place all images in public/system/assets and run the following rake task:</p>
			
			<div class="code">
				<pre>rake process_images[<%= @location.id %>]</pre>
			</div>
			
			<div class="bghighlight">
				<h3 class="sidebar">Location SKU</h3>
			</div><!-- bghighlight -->
			
			<p>Use the data below to generate a barcode for this location:</p>
			
			<div class="code">
					  <pre><%= @location.barcodes.first.sku %></pre>
			</div>
			
			<% unless @location.assets.empty? %>
			
			<div class="bghighlight">
				<h3 class="sidebar">Export barcodes</h3>
			</div><!-- bghighlight -->
			
			<p><%= link_to 'Generate', location_barcodes_path(@location) %> the barcode data which can be copied into 'labels and address'</p>
			
			<% end %>
			
		</div><!-- options -->
<% end %>

	
<% unless @location.children.blank? %>
	<h2>Sub Locations</h2>		
	<% for location in @location.children %>
		<div class="editPreview">
			<%= link_to image_tag(location_icon(location.category)), location_path(location) %>
				<h2><%= link_to "SKU: #{location.barcodes.first.sku}", location_path(location) %> </h2>
				<!--
					TODO Make the asset count work
				-->
				<h3>Asset Count: <%= location.assets.count %></h3>	
		</div>
	<% end %>	
<% end %>

	
<div class="clear"></div>
	

<% unless @location.assets.blank? %>
	<h2>Assets</h2>
			<%= render :partial => "/assets/asset", :collection => @location.assets %>
		<% else %>
			<div id="blankSlateIntro">
				<h1><a href="/createsend/step1.aspx">Add an asset</a></h1>
				<p>There are currently no assets at this location</p>
			</div>
<% end %>






	