<% title "Location: #{@location.name}" %>

<% content_for :breadcrumbs do %>
	<%= link_to 'Locations', locations_path %> &gt; 
	<% for page in @location.ancestors.reverse %>  
   	<%= link_to h(page.name), page %> &gt;  
 	<% end %>
 	<%= @location.name %>
<% end %>

<% content_for :titleSummary do %>
	Some text will go here
<% end %>

	
<% unless @location.children.blank? %>
	<h2>Sub Locations</h2>		
	<% for location in @location.children %>
		<div class="editPreview">
			<img src="<%= location_icon(location.category) %>" />
				<h2><%= link_to "SKU: #{location.barcodes.first.sku}", location_path(location) %> </h2>
				<!--
					TODO Make the asset count work
				-->
				<h3>Asset Count: <%= location.assets.count %></h3>	
		</div>
	<% end %>	
<% end %>

	
<div class="clear"></div>
	

<% unless @location.assets.blank? %>
	<h2>Assets</h2>
		<% for asset in @location.assets %>
			<div class="editPreview">
				<%= image_tag asset.scans.first.data.url(:thumb_wide) %>
				<h2>SKU: <%= link_to asset.barcodes.first.sku, asset %> </h2>
				<h3><%= ratings_for asset, :static, :small => true, :dimension => :quality %></h3>	
			</div>	
		<% end %>
		<% else %>
			<div id="blankSlateIntro">
				<h1><a href="/createsend/step1.aspx">Add an asset</a></h1>
				<p>There are currently no assets at this location</p>
			</div>
<% end %>






	