<div class="box ui-widget ui-widget-content ui-corner-all">

<h3>Period</h3>

<div class="content">
	
	<div class="response-msg go_to_current_period ui-corner-all">
		<div class="period_id"><%= current_period %></div>
		<div class="text"><a href="/periods/<%= current_period %>">Current Period</a></div>
	</div>
	
<% for period in periods %>
		
		<a href="/periods/<%= period.id %>/<%= current_controller unless current_controller == 'period' %>"  
			class="btn ui-state-default full-link ui-corner-all">
			<span class='ui-icon ui-icon-circle-arrow-e'></span><%= period.id %> <%= period.name %>
		</a>

<% end %>

	</div>
</div>
