<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<title><%= h(yield(:title) || "Untitled") %></title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	
	<%= javascript_include_tag :defaults, :cache => true %>
	<%= ajaxful_rating_style %>
	

	<link href="/stylesheets/main.css" media="screen,projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
	<link href="/stylesheets/blue-theme.css" media="screen,projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/custom.css" media="screen,projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/gallery.css" media="screen,projection" rel="stylesheet" type="text/css">

	<!--[if lte IE 6]>
	<script type="text/javascript" src="http://js.createsend.com/js/plugins/supersleight-min.js?201005111330"></script>
	<![endif]-->

</head>

<body class="campaignindex">

	<div id="adminNavsWrapper">
	
		<div class="adminNavs">
			<ul>
				<li><a href="/admin/account/"><span>Account Settings</span></a></li>
			</ul>
		</div>
		
		<div class="adminNavs adminRight">
			<ul>
				<li><a href="/help/category.aspx&#63;c&#61;1&#38;t&#61;33"><span>Help</span></a></li>
				<li><a href="/logout.aspx"><span>Logout</span></a></li>
			</ul>
		</div>

    		<div class="clear"></div>
	</div><!-- adminNavsWrapper -->

			<div class="clear"></div>
			

<div id="case">
	
	<div class="shadowHeader">
		<div class="navheaderleft">
			<div class="shadowMidLeft">
				<div class="navheader">
	
					<div id="header">
						<h1><a href="&#47;admin&#47;">Scott HQ</a></h1>
							<div id="primaryNavs">
								<ul>
									<li><a id="#" href="/"><span>Debt</span></a></li>
									<li><a id="createsendTab" href="/createSend/"><span>Budget</span></a></li>
									<li id="currentSub"><a  href="/locations"><span>Assets</span></a></li>
									<li><a id="reportsTab" href="/reports/"><span>Reports</span></a></li>
								</ul>
							</div><!-- primaryNavs -->
						<div class="clearMyHead"></div>
					</div><!-- header -->
 
				</div><!-- navheader -->
			</div><!-- shadowMidLeft -->
		</div><!-- navheaderleft -->
	</div><!-- shadowHeader -->


	<div class="shadowWrap">
		<div class="shadowMidLeft">
			<div class="shadowMidContent">
	
				<div id="subNavs">
					<a href="/locations" class="active">Locations</a>
						<img src="/images/site/navigation/subnav-divider.png" width="23" height="3" class="supporting">
					<a href="/locations/new">New Location</a>
				</div><!-- subNavs -->
				
					<div id="mainContentWrapper">
						
						<div class="twocol">
								
							<div id="content">

								<div id="leftcol">
									
									<p class="bread">
										<%= yield :breadcrumbs %>
									</p>
									

										<div style="border-bottom: 1px solid #EEE; padding-bottom: 0;">
											<div class="campaignActions" style="margin-top: 24px;">
												<%= yield :campaignActions %>
											</div>
											<h1 id="campaignTitle"><%= h(yield(:title) || "Untitled") %></h1>
											<p class="titleSummary" style="padding-bottom: 10px !important;">
												<%= yield :titleSummary %>
											</p>
										</div>

										<%= yield %>

								</div><!-- leftcol -->

								<div id="rightcol">
									
										<%= yield :sidebar %>
									
										<% if 	controller.controller_name  ==  "debts" or 
												controller.controller_name  == "periods" or
												controller.controller_name  == "budget"

											 %>

										<%= render :partial => "layouts/sidebar_periods", 
										:locals => { 	:period_id => @period.id, 
														:periods => @periods,
														:current_period => @current_period,
														:current_controller => yield(:title)
														} %>

										<% end %>

								</div><!-- rightcol -->
									
									<div class="clear"></div>		
							
							</div><!-- content -->

						</div><!-- twocol -->
				
					</div><!--mainContentWrapper -->
					
			</div><!--shadowMidContent -->
		</div><!-- shadowMidLeft -->
	</div><!-- shadowWrap -->
	
	<div class="shadowBottomLeft">
		<div class="shadowMidLeft"></div>
	</div>

</div><!-- case -->

</body>
</html>
